.pageTitle {
  display: flex;
  justify-content: center;
img {
  width:100px;
  padding-inline: 1rem;
}
}

.featuredCars {
  display: flex;
  gap: 5rem;
  justify-content: center;
  .card {
    border: orange 5px ridge;
  }
  .card-body {
    text-align: center;
  }
.carInfo {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  justify-content: center;
  p {
  margin-inline: 1rem;
}
}
}
