<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
  <div class="col mb-3">
    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <p class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maggiori informazioni:</font></font></p>
  </div>
  <div class="col mb-3">
    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi siamo</font></font></h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Origine</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Punti di forza</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fornitori</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Servizio</font></font></a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contacts</font></font></h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telefono</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fax</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Socials</font></font></a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Product info</font></font></h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Auto</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Caratteristiche</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prezzi</font></font></a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Domande frequenti</font></font></a></li>
    </ul>
  </div>
</footer>
