<main>
<div class="hero">
<img src="/logo_0.png" alt="logo">
<p>Il tuo autosalone di fiducia</p>
</div>
<div class="brandsLogos">
  <p>I nostri marchi</p>
  <div>
  <a routerLink="/fiat"><img src="/fiat-logo.png" alt="fiat_logo"></a>
  <a routerLink="/ford"><img src="/ford-logo.png" alt="ford_logo"></a>
  <a routerLink="/audi"><img src="/audi-logo.png" alt="audi_logo"></a>
</div>
</div>
<h3>Auto in evidenza</h3>
<div class="featuredCars">
  <div class="card" [ngClass]="{'available':carArr[0].available, 'notAvailable':!carArr[0].available}" style="width: 18rem;">
    <img src={{carArr[0].modelImage}} class="card-img-top" alt="car image">
    <div class="card-body">
      <h5 class="card-title">{{carArr[0].brand}} - {{carArr[0].model}}</h5>
      <div class="carInfo">
      <p class="card-text">Anno: {{carArr[0].year}}</p>
      <p class="card-text">Prezzo: {{carArr[0].price}}€</p>
      <p class="card-text" *ngIf="carArr[0].available; else bloccoElse">Disponibile</p>
      <ng-template #bloccoElse>
        <p>Attualmente non disponibile</p>
      </ng-template>
    </div>
      <a [routerLink]="['/brand', carArr[0].brand]" class="btn btn-primary">Vedi modelli simili</a>
    </div>
  </div>
  <div class="card" [ngClass]="{'available':carArr[1].available, 'notAvailable':!carArr[1].available}" style="width: 18rem;">
    <img src={{carArr[1].modelImage}} class="card-img-top" alt="car image">
    <div class="card-body">
      <h5 class="card-title">{{carArr[1].brand}} - {{carArr[1].model}}</h5>
      <div class="carInfo">
        <p class="card-text">Anno: {{carArr[1].year}}</p>
      <p class="card-text">Prezzo: {{carArr[1].price}}€</p>
      <p class="card-text" *ngIf="carArr[1].available; else bloccoElse">Disponibile</p>
      <ng-template #bloccoElse>
        <p>Attualmente non disponibile</p>
      </ng-template>
      </div>
      <a class="btn btn-primary">Vedi modelli simili</a>
    </div>
  </div>
</div>
</main>
