<main>
<div class="hero">
<img src="/logo_0.png" alt="logo">
<p>Il tuo autosalone di fiducia</p>
</div>
<div class="brandsLogos">
  <p>I nostri marchi</p>
  <div>
  <a routerLink="/fiat"><img src="/fiat-logo.png" alt="fiat_logo"></a>
  <a routerLink="/ford"><img src="/ford-logo.png" alt="ford_logo"></a>
  <a routerLink="/audi"><img src="/audi-logo.png" alt="audi_logo"></a>
</div>
</div>
<h3>Auto in evidenza</h3>
<div class="featuredCars">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Modello auto</h5>
      <div class="carInfo">
      <p class="card-text">Anno</p>
      <p class="card-text">Prezzo</p>
      <p class="card-text">Disponibilità</p>
    </div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Modello auto</h5>
      <div class="carInfo">
        <p class="card-text">Anno</p>
        <p class="card-text">Prezzo</p>
        <p class="card-text">Disponibilità</p>
      </div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</main>
