<main>
  <div class="pageTitle">
    <img src="/ford-logo.png" alt="">
  <h2>Le nostre auto Ford</h2>
  <img src="/ford-logo.png" alt="">
  </div>
    <div class="featuredCars">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Modello auto</h5>
      <div class="carInfo">
      <p class="card-text">Anno</p>
      <p class="card-text">Prezzo</p>
      <p class="card-text">Disponibilità</p>
    </div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>
  </main>
